<div class="todos" id="todos-app">
  <header>
    <h1>todos</h1>
  </header>

  <section class="main">
    <input v-model="task.content" @keyup.enter="addTask($event)" autofocus="true" class="new-task" placeholder="What needs to be done?">
    <input type="checkbox" class="toggle-all">

    <ul class="todo-list">
      <task-item v-for="task in tasks" :task="task" :key="task.id"></task-item>
    </ul>
  </section>

  <footer class="footer">
    <span class="task-count">
      <strong><%= @tasks.count %></strong>
      items left
    </span>
    <ul class="filters">
      <li><a href="#all">All</a></li>
      <li><a href="#active">Active</a></li>
      <li><a href="#completed">Completed</a></li>
    </ul>
  </footer>
</div>

<template id="task-item">
  <div>
    <li class="task">
      <div class="view">
        <input type="checkbox" class="toggle">
        <label>{{ task.content }}</label>
      </div>
    </li>
  </div>
</template>
